// Color Variables
$color-light-grey-1: rgb(230, 230, 230); // #E6E6E6
$color-light-grey-2: rgb(180, 180, 180); // #B4B4B4

$color-dark-grey-1: rgb(90,90,90); // #5A5A5A
$color-dark-grey-2: rgb(55, 58,60); // #373A3C

$color-black-1: rgb(12,16,33); // #0C1021

$font-size-1: 14px;
$font-size-2: 12px;
$font-size-3: 10px;

$font-family-1: "Helvetica Neue", helvetica, arial, roboto, sans-serif;
$font-family-2: "PF DinText Pro", "ff-din-web", "Din 1451", Din, "Gill Sans", "Arial Narrow", "Tahoma", sans-serif;

$font-weight-1: 100;
$font-weight-2: 200;
$font-weight-3: 300;
$font-weight-4: 400; // Regular / Normal
$font-weight-5: 500; // Medium
$font-weight-6: 600;
$font-weight-7: 700; // Bold
$font-weight-8: 800;
$font-weight-9: 900;

$z-index-0:     0;
$z-index-1:   100;
$z-index-2:   200;
$z-index-3:   300;
$z-index-4:   400;
$z-index-5:   500;
$z-index-6:   600;
$z-index-7:   700;
$z-index-8:   800;
$z-index-9:   900;
$z-index-10: 1000;
