.header {

  nav {
    border-radius: 0;
    height: 60px;

  }

  .bg-header {
    color: $color-light-grey-1;
    background-color: $color-black-1;
  }

  nav .nav {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

    a {
      padding-right: 3%;
    }

    a:last-of-type {
      padding-right: 0px;
    }
  }

  // Tablet/iPad Screens
  @media only screen and (min-width : 768px) {
    i.fa {
      font-size: 2em;
    }
    nav .nav a {
      padding-right: 8%;
    }
  }

  // Laptop Screens
  @media only screen and (min-width : 1200px) {
    nav .nav a {
      padding-right: 9%;
    }
  }

  // Computer Screens
  @media only screen and (min-width : 1920px) {
    nav .nav a {
      // padding-right: 9%;
    }
  }

}
