.header {

  nav {
    border-radius: 0;
    height: 60px;

  }

  .bg-header {
    color: $color-light-grey-1;
    background-color: $color-black-1;
  }

  nav .nav {

    .nav-item {
      padding-right: 1%;
    }

    .nav-item:last-of-type {
      padding-right: 0px;
    }
  }

  // Tablet/iPad Screens
  @media only screen and (min-width : 768px) {
    i.fa {
      font-size: 2em;
    }
    nav .nav .nav-item {
      padding-right: 5%;
    }
  }

  // Laptop Screens
  @media only screen and (min-width : 1200px) {
    nav .nav .nav-item {
      padding-right: 8%;
    }
  }

  // Computer Screens
  @media only screen and (min-width : 1920px) {
    nav .nav .nav-item {
      padding-right: 9%;
    }
  }

}
